{% load static %}
<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

	<link href="{% static 'themes/prism-material-dark.css' %}" rel="stylesheet" />
		<style type="text/css">
					html { height: 100%; overflow:auto; }
					body { height: 100%; }

		.left-sec{
			/*height: 100%;*/
			height: 80vh;
			overflow-y: auto;

		}
		.left-sec::-webkit-scrollbar {
		  display: none;
		}
		.right-sec-top{
			width: 40vw;
		}
		.right-sec{
			height: 90vh;
			overflow-y: auto;
			-ms-overflow-style: none;
			scrollbar-width: none; 
		}
		.right-sec::-webkit-scrollbar {
		  display: none;
		}
		.bottom-right{
			height: 10vh;
			overflow-y: auto;
		}	
		</style>
</head>
<html>
<body class="bg-dark" onload="windowReset()" >
	<div class="d-flex justify-content-between">
		<div>
		<h5 class="card-title text-warning">Source Code :  {{ file }}</h5>
		<div id="code_div" style="width: 50vw">
<pre class = 'left-sec' data-line="{{curr_line}}" id="play">{% for line in source_code %}{% if forloop.counter == curr_line %}<code class ="language-python" id='curr_exec_line'>{{ line }}</code>{% else %}<code class ="language-python" id='curr_exec_line'>{{ line }}</code>{% endif %}
{% endfor %}
</pre>
		</div>
		<div class="card bg-dark text-warning" >
			<h5 class="card-title">Program Output</h5>
			<div class="bottom-right">
			<pre class="text-white">{{ curr_output }}</pre>
			</div>
		</div>
		</div>
		<div class="right-sec-top">
			{% if curr_mode == 1 %}
			<h5 class="card-title text-warning"> Runtime Flowchart			<a class="text-link" href="view_flowchart?step={{curr_step}}"> [Click here for a full image]</a></h5>

			{% elif curr_mode == 2 %}
			<h5 class="card-title text-warning"> Current Call Stack</h5>
			{% endif %}
		<div class="right-sec">
			{% if curr_mode == 1 %}
			<object  type = "image/svg+xml" id = 'flowchart_image' data="{% static ''|add:flowchart_images %}" style="max-width: 80vw"></object>
			{% elif curr_mode == 2 %}
			<img src="{% static ''|add:stack_images %}" style="width: 40vw"></img>
			{% elif curr_mode == 3 %}
			<h5 class="card-title text-warning"> All Variables</h5>
			<table class = "table  table-dark table-bordered">
			<thead>
				<tr>
					<th scope="col"> Name </th>
					<th scope="col"> Current Val</th>
				</tr>

			</thead>
			<tbody>
			
			{% for name,value  in all_vars %}
			<tr>
				<th scope="row">{{ name }}</th>
				<td><pre><span style="color:white;">{{ value }}</span></pre></td> 
			</tr>
			{% endfor %}
			</tbody>
			</table>

			<h5 class="card-title text-warning"> Variable changes</h5>
				<table class = "table  table-dark table-bordered ">
			<thead>
				<tr>
					<th scope="col"> Name </th>
					<th scope="col"> Previous Value</th>
					<th scope="col"> New Value</th>
				</tr>

			</thead>
			<tbody>
			
			{% for name,prev,new,line,file  in var_changes %}
			<tr>
				<th scope="row">{{ name }}</th>
				<td><pre><span style="color:white;">{{ prev }}</span></pre></td> 
				<td><pre><span style="color:white;">{{ new }}</span></pre></td>
			</tr>
			{% endfor %}
			</tbody>
			</table>
			{% else %}
				{% for img in tree_images %}
			<!-- <div> -->
				{% if forloop.counter|add:"-1"|divisibleby:"2" %}
				<div>
			<img src="{% static ''|add:img %}" style="width: 20vm"></img>
		<!-- <img src="tree.png"></img> -->
				{% else %}
					<img src="{% static ''|add:img %}" style="width: 20vm"></img>
				</div>
				{% endif %}

			<!-- </div> -->
		{% endfor %}
				{% if not tree_images|length|divisibleby:"2" %}
					</div>
				{% endif %}
			{% endif %}

		
		</div>
	</div>
	<div class="float-right">
		<a href="step?step={{curr_step}}&all_vars=0;mode=1#play.{{curr_line}}" class="btn btn-primary btn-block" data-toggle='tooltip' title="Flowchart" >
			<i class="fa fa-arrows-v fa-lg"></i>
		</a>
		<a href="step?step={{curr_step}}&all_vars=0;mode=2#play.{{curr_line}}" class="btn btn-primary btn-block" data-toggle='tooltip' title="Call Stack"  >
			<i class="fa fa-bars fa-lg"></i>
		</a>
		
		<a href="step?step={{curr_step}}&all_vars=0;mode=3#play.{{curr_line}}" class="btn btn-primary btn-block " data-toggle='tooltip' title="Variables"  >
			<i class="fa fa-table fa-lg"></i>
		</a>
		<a href="step?step={{curr_step}}&all_vars=0;mode=4#play.{{curr_line}}" class="btn btn-primary btn-block" data-toggle='tooltip' title="Tree Images"  >
			<i class="fa fa-tree fa-lg"></i>
		</a>
		{% if curr_step == max_step %}
			<a href="step?step={{curr_step}}&all_vars=0;mode={{curr_mode}}#play.{{curr_line}}" class="btn btn-success btn-block " data-toggle='tooltip' title="Next"  >
		{% else %}
		<a href="step?step={{curr_step|add:1}}&all_vars=0;mode={{curr_mode}}#play.{{next_line}}" class="btn btn-success btn-block " data-toggle='tooltip' title="Next"  >
		{% endif %}
			<i class="fa fa-angle-double-right fl"></i>
		</a>
		{% if curr_step == 2 %}
		<a href="step?step={{curr_step}}&all_vars=0;mode={{curr_mode}}#play.{{curr_line}}" class="btn btn-success btn-block " data-toggle='tooltip' title="Previous Step"  >
			<i class="fa fa-angle-double-left fl"></i>
		</a>
		{% else %}
		<a href="step?step={{curr_step|add:'-1'}}&all_vars=0;mode={{curr_mode}}#play.{{prev_line}}" class="btn btn-success btn-block " data-toggle='tooltip' title="Previous Step"  >
			<i class="fa fa-angle-double-left fl"></i>
		</a>
		{% endif %}
		<a href="/viewer" class="btn btn-success btn-block " data-toggle='tooltip' title="Home"  >
			<i class="fa fa-home fl"></i>
		</a>

	</div>
</div>

</body>

</html>

	{% if curr_mode == 1 %}
	<script>
      var a = document.getElementById("flowchart_image");

      // It's important to add an load event listener to the object,
      // as it will load the svg doc asynchronously
      a.addEventListener("load",function(){
      		// alert('ran')
          // get the inner DOM of alpha.svg
          var svgDoc = a.contentDocument;
          myElement = svgDoc.getElementById("curr_block");
          myElement.scrollIntoView({behavior: "auto", block: "center", inline: "center"})
          // get the inner element by id
          window.scrollTo(0,0)
          return

          // add behaviour
 		
      }, false);

	</script>
	{% endif %}

<script src="{% static 'themes/prism.js' %}"></script>
<script>
	function windowReset() {

	  setTimeout(function(){window.scrollTo(0,0) },3);
	}
</script>
